@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

body {
    --clr-950: #020617;
    --clr-900: #0f172a;
    --clr-700: #334155;
    --clr-300: #cbd5e1;
    --clr-100: #f1f5f9;
    --clr-content-header: #1E1E1E;

    .container {
        display: grid;
        grid-template-columns: 1.5fr 5fr;
        grid-template-rows: 20vh 80vh;
        font-family: 'Chivo Mono', monospace;
        font-family: 'Roboto', sans-serif;
    }
    
    .sidebar {
        grid-area: 1 / 1 / 3 / 2;
        overflow-y:hidden;
        overflow-x:hidden;
        background-color: var(--clr-300);
        padding-top: 10px;
    }

    .sidebar-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .sidebar-subheading-container  {
        margin-left: 5px;
    }

    .list {
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }

    .sidebar-logo-svg {
        width: 50px;
        fill: var(--clr-950);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .home {
        font-weight: 600;
    }

    .sidebar-title {
        font-size: 30px;
        font-weight: bold;
        color: var(--clr-950);
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .sidebar-first-6, .sidebar-last-3 {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .sidebar-subheading {
        font-size: 20px;
        font-weight: 500;
        color: var(--clr-900);
        padding-left: 5px;
        opacity: 0.9;
        cursor: pointer;
    }

    .svg {
        margin-left: 20px;
        justify-self: center;
        cursor: pointer;
    }

    .sidebar-title, .sidebar-subheading {
        margin-left: 10px;
    }

    #sidebar-home {
        height: 40px;
        width: 20vh;
    }

    .sidebar-svg {
        width: 33px;
        fill: var(--clr-900);
        opacity: 0.9;
    }

    .sidebar-hr {
        width: 270px;
        height: 2px;
        background-color: var(--clr-950);
        border: none;
        opacity: 0.9;
    }

    .header {
        grid-area: 1 / 2 / 2 / 3;
        background-color: var(--clr-100);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: center;
    }
    
    .content {
        grid-area: 1 / 2 / 3 / 3;
        overflow:scroll;
        background-color: var(--clr-100);
    }   

    .header-container {
        grid-area: 1 / 2 / 2 / 3;
        height: 13vh;
        width: 65rem;
        background-color: var(--clr-700);
        border-radius: 10px;
        margin: 20px;
        margin-left: 35px;
        position: fixed;
        display: flex;
        gap: 5vh;
        flex-direction: row;
        align-items: center;
    }

    .header-button {
        background-color: var(--clr-700);
        outline: none;
        font-size: 20px;
        color: var(--clr-300);
    }

    .header-buttons-list {
        display: flex;
        width: 250px;
        gap: 20px;
        justify-content: center;
        margin-left: 20px;
        cursor: pointer;
    }

    .search-bar {
        border: 2px solid var(--clr-300);
        width: 70vh;
        height: 35px;
        display: flex;
        border-radius: 20px;
        padding: 1px;
    }

    .search-bar-input {
        flex-grow: 1;
        font-size: 15px;
        padding-left: 20px;
        border: 0;
        background-color: var(--clr-700);
        background: transparent;
        color: var(--clr-100);
    }

    .search-bar-input:focus {
        outline: 0;
    }

    .search-bar-submit {
        cursor: pointer;
        font-size: 15px;
        height: 35px;
        width: 35px;
        border: none;
        color: var(--clr-300);
        background-color: var(--clr-700);
        border-radius: 100vh;
    }

    .icons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .header-icon {
        width: 25px;
        fill: var(--clr-300);
    }

    .toggle-button {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        font-size: 23px;
        color: var(--clr-300);
    }

    .main-content-header {
        font-size: 25px;
        color: var(--clr-content-header);
        font-weight: 300;
    }

    .projects-header {
        margin-left: 10vh;
        grid-row: span 1;
    }

    .projects-list {
        margin-top: 30px;
        margin-left: 10vh;
        grid-row: 2 / 3;
        display: grid;
        gap: 50px;
        column-gap: 0px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .updates-list {
        margin-top: 30px;
    }

    .updates-container {
        display: grid;
        grid-template-rows: 0.5fr 8fr;
        height: 80vh;
    }

    .projects-container {
        grid-row: span 2;
        display: grid;
        grid-template-rows: 0.5fr 8fr;
    }

    .project-title {
        margin-left: 20px;
        margin-top: 10px;
        font-size: 18px;
        color: var(--clr-950);
    }

    .project-desc {
        margin: 20px 20px;
        color: var(--clr-900);
        opacity: 0.7;
        font-size: 15px;
    }

    .project-container {
        height: 200px;
        width: 290px;
        background-color: var(--clr-300);
        box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.5);
        border-left: 6.5px solid var(--clr-700);
        border-radius: 10px;
    }

    .updates {
        background-color: var(--clr-300);
        height: 95vh;
        margin-bottom: 5vh;
        width: 290px;
        border-radius: 10px;
    }

    .main-content {
        margin-top: 170px;
        height: 80vh;
        display: grid;
        grid-template-rows: 0.5fr 8fr; 
        grid-template-columns: 3fr 1.2fr;
    }
}

body.dark {
    --clr-950: #020617;
    --clr-900: #0f172a;
    --clr-700: #334155;
    --clr-300: #cbd5e1;
    --clr-100: #f1f5f9;
    --clr-content-header: #1E1E1E;

    .sidebar {
        background-color: var(--clr-900);
    }

    .sidebar-title, 
    .sidebar-logo-svg {
        color: var(--clr-100);
        fill: var(--clr-100);
    }

    .sidebar-subheading, 
    .sidebar-svg {
        color: var(--clr-300);
        fill: var(--clr-300);
    }

    .sidebar-hr {
        background-color: var(--clr-300);
    }

    .content, 
    .header {
        background-color: var(--clr-100);
    }
}


/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}